<h1>Query Results</h1>

<% begin %>
  <% if params[:name_sel].size > 0 %>
    <h2>Player: <%= params[:name_sel] %></h2>
  <% end %>
  <table>
    <thead>
      <tr>
        <th>Year</th>
        <th>Rank</th>
        <th>Name</th>
        <th>Country</th>
        <th>Average points</th>
        <th>Total points</th>
        <th>Points lost this year</th>
        <th>Points gained this year</th>
        <th>Events played</th>
        <th colspan=3></th>
      </tr>
    </thead>
  
    <tbody>
      <% @finalrecords.each do |golfer| %>
        <tr>
          <td><%= golfer.whatYearIsit(golfer.id) %></td>
          <td><%= golfer.this_week %></td>
          <td><%= golfer.name %></td>
          <td><%= golfer.country %></td>
          <td><%= golfer.average_points %></td>
          <td><%= golfer.total_points %></td>
          <td><%= golfer.points_lost_this_year %></td>
          <td><%= golfer.points_gained_this_year %></td>
          <td><%= golfer.events_played %></td>
          <td><%= link_to 'Show', golfer %></td>
        </tr>
      <% end %>
<% rescue NoMethodError => e %>
  <h1>PLEASE INSERT A VALID INPUT</h1>
<% end %>
  </tbody>
</table>