<p id="notice"><%= notice %></p>

<h1>2018 Ranking</h1>

<table>
  <thead>
    <tr>
      <th>Rank </th>
      <th> Name</th>
      <th>Country</th>
      <th>Average points</th>
      <th>Total points</th>
      <th>Events played</th>
      <th>Points lost this year</th>
      <th>Points gained this year</th>
      <th>Events played</th>
    </tr>
  </thead>

  <tbody>
    <% @golfers.each do |golfer| %>
      <tr>
        <td><%= golfer.this_week %></td>
        <td><%= golfer.name %></td>
        <td><%= golfer.country %></td>
        <td><%= golfer.average_points %></td>
        <td><%= golfer.total_points %></td>
        <td><%= golfer.events_played %></td>
        <td><%= golfer.points_lost_this_year %></td>
        <td><%= golfer.points_gained_this_year %></td>
        <td><%= golfer.events_played %></td>
        <td><%= link_to 'Show', golfer %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Golfer', new_golfer_path %>
