<p id="notice"><%= notice %></p>

<p>
  <strong>Rank:</strong>
  <%= @golfer.this_week %>
</p>

<p>
  <strong>Name:</strong>
  <%= @golfer.name %>
</p>

<p>
  <strong>Country:</strong>
  <%= @golfer.country %>
</p>

<p>
  <strong>Average points:</strong>
  <% @buffer2016 = Ranking2016.all.find_by_name(@golfer.name) %> 
  <% @buffer2017 = Ranking2017.all.find_by_name(@golfer.name) %> 
  <% if @buffer2016 != nil %>
    <p>2016: <%= @buffer2016.average_points %> </p>
  <% end%>
  <% if @buffer2017 != nil %>
    <p>2017: <%= @buffer2017.average_points %></p>
  <% end%>
  <p>2018: <%= @golfer.average_points %> </p>
</p>

<p>
  <strong>Total points:</strong>
  <%= @golfer.total_points %>
</p>

<p>
  <strong>Events played:</strong>
  <%= @golfer.events_played %>
</p>

<p>
  <strong>Points lost this year:</strong>
  <%= @golfer.points_lost_this_year %>
</p>

<p>
  <strong>Points gained this year:</strong>
  <%= @golfer.points_gained_this_year %>
</p>

<p>
  <strong>Events played:</strong>
  <%= @golfer.events_played %>
</p>

 <div id="container" style="width:100%; height:400px;"></div>

<script type="text/javascript">
$(function () { 
    var myChart = Highcharts.chart('container', {
        chart: {
            type: 'line'
        },
        title: {
            text: 'Average Points over the years'
        },
        xAxis: {
            categories: ['2016', '2017', '2018']
        },
        yAxis: {
            title: {
                text: 'Points'
            }
        },
        series: [{
            name: '<%= @golfer.name %>',
            <% 
              if @buffer2016 == nil
                @backup2016 = 0
              else 
                @backup2016 = @buffer2016.average_points
              end
              if @buffer2017 == nil
                @backup2017 = 0
              else 
                @backup2017 = @buffer2017.average_points
              end
            %>
            data: [<%= @backup2016 %>, <%= @backup2017 %>, <%= @golfer.average_points %>]
        }]
        
    });
});
</script>

<%= link_to 'Edit', edit_golfer_path(@golfer) %> |
<%= link_to 'Back', golfers_path %>
