<p id="notice"><%= notice %></p>

<p>
  <strong>This week:</strong>
  <%= @golfer.this_week %>
</p>

<p>
  <strong>Name:</strong>
  <%= @golfer.name %>
</p>

<p>
  <strong>Country:</strong>
  <%= @golfer.country %>
</p>

<p>
  <strong>Average points:</strong>
  <%= @golfer.average_points %>
</p>

<p>
  <strong>Total points:</strong>
  <%= @golfer.total_points %>
</p>

<p>
  <strong>Events played:</strong>
  <%= @golfer.events_played %>
</p>

<p>
  <strong>Points lost this year:</strong>
  <%= @golfer.points_lost_this_year %>
</p>

<p>
  <strong>Points gained this year:</strong>
  <%= @golfer.points_gained_this_year %>
</p>

<p>
  <strong>Events played:</strong>
  <%= @golfer.events_played %>
</p>

<%= link_to 'Edit', edit_golfer_path(@golfer) %> |
<%= link_to 'Back', golfers_path %>
