<p id="notice"><%= notice %></p>

<p>
  <strong>Rank:</strong>
  <%= @golfer.this_week %>
</p>

<p>
  <strong>Name:</strong>
  <%= @golfer.name %>
</p>

<p>
  <strong>Country:</strong>
  <%= @golfer.country %>
</p>

<p>
  <strong>Average points:</strong>
  <% @ranking2016s = Ranking2016.all %>
  <% @buffer2016 = @ranking2016s.find_by_name(@golfer.name) %> 
  <% @ranking2017s = Ranking2017.all %>
  <% @buffer2017 = @ranking2017s.find_by_name(@golfer.name) %> 
  <% if @buffer2016 != nil %>
    <p>2016: <%= @buffer2016.average_points %> </p>
  <% end%>
  <% if @buffer2017 != nil %>
    <p>2017: <%= @buffer2017.average_points %></p>
  <% end%>
  <p>2018: <%= @golfer.average_points %> </p>
</p>

<p>
  <strong>Total points:</strong>
  <%= @golfer.total_points %>
</p>

<p>
  <strong>Events played:</strong>
  <%= @golfer.events_played %>
</p>

<p>
  <strong>Points lost this year:</strong>
  <%= @golfer.points_lost_this_year %>
</p>

<p>
  <strong>Points gained this year:</strong>
  <%= @golfer.points_gained_this_year %>
</p>

<p>
  <strong>Events played:</strong>
  <%= @golfer.events_played %>
</p>

<%= link_to 'Edit', edit_golfer_path(@golfer) %> |
<%= link_to 'Back', golfers_path %>
