<p id="notice"><%= notice %></p>

<p>
  <strong>Rank:</strong>
  <%= @ranking2016.this_week %>
</p>

<p>
  <strong>Name:</strong>
  <%= @ranking2016.name %>
</p>

<p>
  <strong>Country:</strong>
  <%= @ranking2016.country %>
</p>

<p>
  <strong>Average points:</strong>
  <% @buffer2018 = Golfer.all.find_by_name(@ranking2016.name) %> 
  <% @buffer2017 = Ranking2017.find_by_name(@ranking2016.name) %> 
  <p>2016: <%= @ranking2016.average_points %> </p>
  <% if @buffer2017 != nil %>
    <p>2017: <%= @buffer2017.average_points %></p>
  <% end%>
  <% if @buffer2018 != nil %>
    <p>2018: <%= @buffer2018.average_points %> </p>
  <% end%>
</p>

<p>
  <strong>Total points:</strong>
  <%= @ranking2016.total_points %>
</p>

<p>
  <strong>Events played:</strong>
  <%= @ranking2016.events_played %>
</p>

<p>
  <strong>Points lost this year:</strong>
  <%= @ranking2016.points_lost_this_year %>
</p>

<p>
  <strong>Points gained this year:</strong>
  <%= @ranking2016.points_gained_this_year %>
</p>

<p>
  <strong>Events played:</strong>
  <%= @ranking2016.events_played %>
</p>


<div id="container" style="width:100%; height:400px;"></div>

<script type="text/javascript">
$(function () { 
    var myChart = Highcharts.chart('container', {
        chart: {
            type: 'line'
        },
        title: {
            text: 'Average Points over the years'
        },
        xAxis: {
            categories: ['2016', '2017', '2018']
        },
        yAxis: {
            title: {
                text: 'Points'
            }
        },
        series: [{
            name: '<%= @ranking2016.name %>',
            <% 
              if @buffer2017 == nil
                @backup2017 = 0
              else 
                @backup2017 = @buffer2017.average_points
              end
              if @buffer2018 == nil
                @backup2018 = 0
              else 
                @backup2018 = @buffer2018.average_points
              end
            %>
            data: [<%= @ranking2016.average_points %>, <%= @backup2017 %>, <%= @backup2018 %>]
        }]
        
    });
});
</script>

<%= link_to 'Edit', edit_ranking2016_path(@ranking2016) %> |
<%= link_to 'Back', ranking2016s_path %>
