<p id="notice"><%= notice %></p>

<p>
  <strong>Rank:</strong>
  <%= @ranking2016.this_week %>
</p>

<p>
  <strong>Name:</strong>
  <%= @ranking2016.name %>
</p>

<p>
  <strong>Country:</strong>
  <%= @ranking2016.country %>
</p>

<p>
  <strong>Average points:</strong>
  <% @golfers = Golfer.all %>
  <% @buffer2018 = @golfers.find_by_name(@ranking2016.name) %> 
  <% @ranking2017s = Ranking2017.all %>
  <% @buffer2017 = @ranking2017s.find_by_name(@ranking2016.name) %> 
  <p>2016: <%= @ranking2016.average_points %> </p>
  <% if @buffer2017 != nil %>
    <p>2017: <%= @buffer2017.average_points %></p>
  <% end%>
  <% if @buffer2018 != nil %>
    <p>2018: <%= @buffer2018.average_points %> </p>
  <% end%>
</p>

<p>
  <strong>Total points:</strong>
  <%= @ranking2016.total_points %>
</p>

<p>
  <strong>Events played:</strong>
  <%= @ranking2016.events_played %>
</p>

<p>
  <strong>Points lost this year:</strong>
  <%= @ranking2016.points_lost_this_year %>
</p>

<p>
  <strong>Points gained this year:</strong>
  <%= @ranking2016.points_gained_this_year %>
</p>

<p>
  <strong>Events played:</strong>
  <%= @ranking2016.events_played %>
</p>

<%= link_to 'Edit', edit_ranking2016_path(@ranking2016) %> |
<%= link_to 'Back', ranking2016s_path %>
