<%= form_with(model: us_event, local: true) do |form| %>
  <% if us_event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(us_event.errors.count, "error") %> prohibited this us_event from being saved:</h2>

      <ul>
      <% us_event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :us_event_name %>
  </div>

  <div class="field">
    <%= form.label :start_date %>
    <%= form.date_select :start_date, id: :us_event_start_date %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address, id: :us_event_address %>
  </div>

  <div class="field">
    <%= form.label :latitude %>
    <%= form.text_field :latitude, id: :us_event_latitude %>
  </div>

  <div class="field">
    <%= form.label :longitude %>
    <%= form.text_field :longitude, id: :us_event_longitude %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
