<p id="notice"><%= notice %></p>

<h1>2017 Ranking</h1>

<table>
  <thead>
    <tr>
      <th>Rank</th>
      <th>Name</th>
      <th>Country</th>
      <th>Average points</th>
      <th>Total points</th>
      <th>Events played</th>
      <th>Points lost this year</th>
      <th>Points gained this year</th>
      <th>Events played</th>
    </tr>
  </thead>

  <tbody>
    <% @ranking2017s.each do |ranking2017| %>
      <tr>
        <td><%= ranking2017.this_week %></td>
        <td><%= ranking2017.name %></td>
        <td><%= ranking2017.country %></td>
        <td><%= ranking2017.average_points %></td>
        <td><%= ranking2017.total_points %></td>
        <td><%= ranking2017.events_played %></td>
        <td><%= ranking2017.points_lost_this_year %></td>
        <td><%= ranking2017.points_gained_this_year %></td>
        <td><%= ranking2017.events_played %></td>
        <td><%= link_to 'Show', ranking2017 %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ranking2017', new_ranking2017_path %>
