<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://code.highcharts.com/highcharts.src.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCxFJt2Ir5H8I_FYWe9cbZdqqCseugPQ3g" async defer></script>

<div class="topnav" id="myTopnav">
  <%= link_to "Home", home_path %>
  <%= link_to "2018 Rankings", golfers_path %>
  <%= link_to "2017 Rankings", ranking2017s_path %>
  <%= link_to "2016 Rankings", ranking2016s_path %>
  <%= link_to "Queries", queries_path %>
  <%= link_to "Next Events", nextevents_path %>
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
  <!-- us events and next events -->
</div>

<script type="text/javascript">
  function myFunction() {
    var x = document.getElementById("myTopnav");
    if (x.className === "topnav") {
        x.className += " responsive";
    } else {
        x.className = "topnav";
    }
}
</script>